<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.user.UserMapper">
    <insert id="userRegister" parameterType="com.pojo.UserRegisterInfo">
        insert into user (userName_t, userPassword_t, userLoginName_t, userCode_t, userEmail_t)
        values (#{userName}, #{userPassword}, #{userLoginName}, #{userCode}, #{userEmail});
    </insert>

    <select id="userLogin" parameterType="com.pojo.UserLoginInfo" resultType="map">
        select userName_t as userName,
        userPassword_t as userPassword,
        userLoginName_t as userLoginName,
         userCode_t as userCode,
         userEmail_t as userEmail
         from user where userEmail_t = #{userLoginInfo} or userLoginName_t = #{userLoginInfo}
    </select>

    <select id="userSearch" parameterType="com.pojo.UserSearchInfo" resultType="map">
        select userName_t as userName,
        userEmail_t as userEmail,
        userLoginName_t as userLoginName,
        userCode_t as userCode
         from user where 1=1
         <choose>
             <when test="userInfo!=null">
                  and ((userEmail_t like "%"#{userInfo}"%") or
                 (userLoginName_t like "%"#{userInfo}"%"))
             </when>
         </choose>

    </select>


</mapper>