<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.device.DeviceMapper">

    <insert id="addDevice" parameterType="com.pojo.DeviceAddInfo">
        insert into device( departmentCode_t, deviceName_t, deviceIMEI_t)
        values (#{departmentCode},#{deviceName},#{deviceIMEI})
    </insert>

    <delete id="deleteDevice" parameterType="com.pojo.DeviceDeleteOrSearchInfo">
        delete from device where deviceIMEI_t = #{deviceIMEI}
    </delete>

    <select id="searchDevice" parameterType="com.pojo.DeviceDeleteOrSearchInfo" resultType="map">
        select
        deviceIMEI_t as deviceIMEI,
        deviceInfo_t as deviceInfo,
        deviceName_t as deviceName,
        deviceDefaultPWD_t as deviceDefaultPWD,
        departmentCode_t as departmentCode
        from device
        where 1=1
        <choose>
            <when test="deviceName!=null">
                and deviceName_t like "%"#{deviceName}"%"
            </when>

            <when test="deviceIMEI!=null">
                and deviceIMEI_t like "%"#{deviceIMEI}"%"
            </when>
            <when test="departmentCode!=null">
                and departmentCode_t =#{departmentCode}
            </when>
        </choose>

    </select>

    <select id="searchTaskByProposeCode" parameterType="com.pojo.TaskAddAndSearchInfo" resultType="map">
        select * from task where 1=1
        <if test="proposerCode!=null">
            and proposerCode_t = #{proposerCode}
        </if>
        <if test="deviceIMEI!=null">
            and deviceIMEI_t = #{deviceIMEI}
        </if>
        <if test="taskTime!=null">
            and (#{taskTime} -taskTime_t) &lt; 300
        </if>
        <if test="taskStatus!=null">
            and taskStatus_t = #{taskStatus}
        </if>
    </select>

    <insert id="addTask" parameterType="com.pojo.TaskAddAndSearchInfo">
        INSERT INTO task (
            taskCode_t,
            proposerCode_t,
            deviceIMEI_t,
            taskTime_t,
            taskStatus_t
        ) values (#{taskCode},
            #{proposerCode},
            #{deviceIMEI},
            UNIX_TIMESTAMP(NOW()),
            0)
    </insert>
    <!--        <selectKey resultType="long" order="AFTER" keyProperty="id">-->
    <!--        SELECT LAST_INSERT_ID() AS id-->
    <!--    </selectKey>-->

</mapper>