<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bl.demo.device.DeviceMapper">
    <insert id="addDeviceByUserCode" parameterType="map">
        insert into device (deviceCode, userCode) value (#{deviceCode},#{userCode})
    </insert>

    <select id="getDeviceBuUserCode" parameterType="map" resultType="map">
        select deviceCode,userCode from device where userCode = #{userCode}
    </select>

    <delete id="deleteDeviceByUserCode" parameterType="map">
        delete from device where deviceCode = #{deviceCode}
    </delete>
    
    <select id="getRecordDataByDeviceCode" parameterType="string" resultType="map">
        select * from record where deviceCode = #{deviceCode} order by timeRec desc Limit 5;
    </select>

    <insert id="addDeviceData" parameterType="map">
        insert into record (hum, temp, sound, light, deviceCode, timeRec)  value (#{hum},#{temp},#{sound},#{light},#{deviceCode},#{timeRec})
    </insert>
</mapper>