<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.department.DepartmentMapper">
    <insert id="departmentCreate" parameterType="com.pojo.DepartmentCreateInfo">
        insert into department (departmentName_t, departmentCode_t, departmentRoot_t)
        VALUES (#{departmentName}, #{departmentCode}, #{departmentRoot});
        insert into personnel(userCode_t, departmentCode_t, userRole_t, personnelCode_t)
        values (#{departmentRoot},#{departmentCode},1,#{personnelCode});
    </insert>
    
    <update id="departmentUpdate" parameterType="com.pojo.DepartmentUpdateInfo">
        update department set departmentName_t = #{departmentName},departmentInfo_t=#{departmentInfo}
        where departmentCode_t = #{departmentCode};
    </update>

    <insert id="addPersonAuthorization" parameterType="com.pojo.PersonAuthonizationInfo">
        insert into personnel(userCode_t, departmentCode_t, userRole_t, personnelCode_t)
        values (#{userCode},#{departmentCode},#{userRole},#{personnelCode});
    </insert>

    <select id="personAuthorization" parameterType="map" resultType="map">
        select userCode_t as userCode,userRole_t as userRole from personnel
        where userCode_t=#{userCode} and departmentCode_t=#{departmentCode};
    </select>

    <delete id="delPerson" parameterType="com.pojo.PersonDelInfo">
        delete from personnel where userCode_t = #{userCodeDel}
    </delete>

    <select id="searchDepartment" parameterType="com.pojo.DepartmentSearch" resultType="map">
        select departmentCode_t as department,
        departmentName_t as departmentName,
        departmentInfo_t as departmentInfo,
        departmentRoot_t as departmentRoot
         from department where 1=1
        <if test="departmentCode!=null">
            and departmentCode_t like "%"#{departmentCode}"%"
        </if>
        <if test="departmentName!=null">
            and departmentName_t like "%"#{departmentName}"%"
        </if>
<!--        <choose>-->
<!--            <when test="departmentCode!=null">-->
<!--                and departmentCode_t like "%"#{departmentCode}"%"-->
<!--            </when>-->
<!--            <when test="departmentName!=null">-->
<!--                and departmentName_t like "%"#{departmentName}"%"-->
<!--            </when>-->
<!--        </choose>-->
    </select>


</mapper>