<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.department.DepartmentMapper">
    <insert id="departmentCreate" parameterType="com.pojo.DepartmentCreateInfo">
        insert into department (departmentName_t, departmentCode_t, departmentRoot_t)
        VALUES (#{departmentName}, #{departmentCode}, #{departmentRoot});
        insert into personnel(userCode_t, departmentCode_t, userRole_t, personnelCode_t)
        values (#{departmentRoot},#{departmentCode},1,#{personnelCode});
    </insert>
    
    <update id="departmentUpdate" parameterType="com.pojo.DepartmentUpdateInfo">
        update department set departmentName_t = #{departmentName},departmentInfo_t=#{departmentInfo}
        where departmentCode_t = #{departmentCode};
    </update>

</mapper>