<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bl.demo.TempMapper">
    <insert id="addTemp" parameterType="com.bl.demo.Temp">
        INSERT into sql_bl_temp (temp) values (#{temp})
    </insert>

    <delete id="deleteTempById" parameterType="int">
        delete from sql_bl_temp where id = #{id}
    </delete>

    <select id="getTempById" parameterType="int" resultType="com.bl.demo.Temp">
        select * from sql_bl_temp where id = #{id}
    </select>

    <select id="getTempsInFive" resultType="com.bl.demo.Temp">
        select * from sql_bl_temp ORDER BY time DESC LIMIT 5
    </select>
</mapper>